<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="dir_locales" Name="locales">
      </Directory>
      <Directory Id="dir_resources" Name="resources">
        <Directory Id="dir_resources_app_asar_unpacked" Name="app.asar.unpacked">
          <Directory Id="dir_resources_app_asar_unpacked_node_modules" Name="node_modules">
            <Directory Id="dir_resources_app_asar_unpacked_node_modules__tailwindcss" Name="@tailwindcss">
              <Directory Id="dir_resources_app_asar_unpacked_node_modules__tailwind_b25dde41" Name="oxide-win32-x64-msvc">
              </Directory>
            </Directory>
            <Directory Id="dir_resources_app_asar_unpacked_node_modules_lightning_28c336dc" Name="lightningcss-win32-x64-msvc">
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>

    <ComponentGroup Id="AppFiles">
      <Component Id="cmp_chrome_100_percent_pak" Directory="INSTALLFOLDER">
        <File Id="file_chrome_100_percent_pak" Source="release\win-unpacked\chrome_100_percent.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_chrome_200_percent_pak" Directory="INSTALLFOLDER">
        <File Id="file_chrome_200_percent_pak" Source="release\win-unpacked\chrome_200_percent.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_d3dcompiler_47_dll" Directory="INSTALLFOLDER">
        <File Id="file_d3dcompiler_47_dll" Source="release\win-unpacked\d3dcompiler_47.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_dxcompiler_dll" Directory="INSTALLFOLDER">
        <File Id="file_dxcompiler_dll" Source="release\win-unpacked\dxcompiler.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_dxil_dll" Directory="INSTALLFOLDER">
        <File Id="file_dxil_dll" Source="release\win-unpacked\dxil.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_ffmpeg_dll" Directory="INSTALLFOLDER">
        <File Id="file_ffmpeg_dll" Source="release\win-unpacked\ffmpeg.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Flux_Tasks_exe" Directory="INSTALLFOLDER">
        <File Id="file_Flux_Tasks_exe" Source="release\win-unpacked\Flux Tasks.exe" KeyPath="yes">
          <Shortcut Id="ApplicationStartMenuShortcut"
                    Directory="ProgramMenuFolder"
                    Name="Flux Tasks"
                    Description="Local-first desktop task manager with GitHub integration and background reminders."
                    WorkingDirectory="INSTALLFOLDER"
                    Advertise="yes" />
          <Shortcut Id="ApplicationDesktopShortcut"
                    Directory="DesktopFolder"
                    Name="Flux Tasks"
                    Description="Local-first desktop task manager with GitHub integration and background reminders."
                    WorkingDirectory="INSTALLFOLDER"
                    Advertise="yes" />
        </File>
      </Component>
      <Component Id="cmp_icudtl_dat" Directory="INSTALLFOLDER">
        <File Id="file_icudtl_dat" Source="release\win-unpacked\icudtl.dat" KeyPath="yes" />
      </Component>
      <Component Id="cmp_libEGL_dll" Directory="INSTALLFOLDER">
        <File Id="file_libEGL_dll" Source="release\win-unpacked\libEGL.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_libGLESv2_dll" Directory="INSTALLFOLDER">
        <File Id="file_libGLESv2_dll" Source="release\win-unpacked\libGLESv2.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_LICENSE_electron_txt" Directory="INSTALLFOLDER">
        <File Id="file_LICENSE_electron_txt" Source="release\win-unpacked\LICENSE.electron.txt" KeyPath="yes" />
      </Component>
      <Component Id="cmp_LICENSES_chromium_html" Directory="INSTALLFOLDER">
        <File Id="file_LICENSES_chromium_html" Source="release\win-unpacked\LICENSES.chromium.html" KeyPath="yes" />
      </Component>
      <Component Id="cmp_resources_pak" Directory="INSTALLFOLDER">
        <File Id="file_resources_pak" Source="release\win-unpacked\resources.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_snapshot_blob_bin" Directory="INSTALLFOLDER">
        <File Id="file_snapshot_blob_bin" Source="release\win-unpacked\snapshot_blob.bin" KeyPath="yes" />
      </Component>
      <Component Id="cmp_v8_context_snapshot_bin" Directory="INSTALLFOLDER">
        <File Id="file_v8_context_snapshot_bin" Source="release\win-unpacked\v8_context_snapshot.bin" KeyPath="yes" />
      </Component>
      <Component Id="cmp_vk_swiftshader_dll" Directory="INSTALLFOLDER">
        <File Id="file_vk_swiftshader_dll" Source="release\win-unpacked\vk_swiftshader.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_vk_swiftshader_icd_json" Directory="INSTALLFOLDER">
        <File Id="file_vk_swiftshader_icd_json" Source="release\win-unpacked\vk_swiftshader_icd.json" KeyPath="yes" />
      </Component>
      <Component Id="cmp_vulkan_1_dll" Directory="INSTALLFOLDER">
        <File Id="file_vulkan_1_dll" Source="release\win-unpacked\vulkan-1.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_af_pak" Directory="dir_locales">
        <File Id="file_locales_af_pak" Source="release\win-unpacked\locales\af.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_am_pak" Directory="dir_locales">
        <File Id="file_locales_am_pak" Source="release\win-unpacked\locales\am.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_ar_pak" Directory="dir_locales">
        <File Id="file_locales_ar_pak" Source="release\win-unpacked\locales\ar.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_bg_pak" Directory="dir_locales">
        <File Id="file_locales_bg_pak" Source="release\win-unpacked\locales\bg.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_bn_pak" Directory="dir_locales">
        <File Id="file_locales_bn_pak" Source="release\win-unpacked\locales\bn.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_ca_pak" Directory="dir_locales">
        <File Id="file_locales_ca_pak" Source="release\win-unpacked\locales\ca.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_cs_pak" Directory="dir_locales">
        <File Id="file_locales_cs_pak" Source="release\win-unpacked\locales\cs.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_da_pak" Directory="dir_locales">
        <File Id="file_locales_da_pak" Source="release\win-unpacked\locales\da.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_de_pak" Directory="dir_locales">
        <File Id="file_locales_de_pak" Source="release\win-unpacked\locales\de.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_el_pak" Directory="dir_locales">
        <File Id="file_locales_el_pak" Source="release\win-unpacked\locales\el.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_en_GB_pak" Directory="dir_locales">
        <File Id="file_locales_en_GB_pak" Source="release\win-unpacked\locales\en-GB.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_en_US_pak" Directory="dir_locales">
        <File Id="file_locales_en_US_pak" Source="release\win-unpacked\locales\en-US.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_es_419_pak" Directory="dir_locales">
        <File Id="file_locales_es_419_pak" Source="release\win-unpacked\locales\es-419.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_es_pak" Directory="dir_locales">
        <File Id="file_locales_es_pak" Source="release\win-unpacked\locales\es.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_et_pak" Directory="dir_locales">
        <File Id="file_locales_et_pak" Source="release\win-unpacked\locales\et.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_fa_pak" Directory="dir_locales">
        <File Id="file_locales_fa_pak" Source="release\win-unpacked\locales\fa.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_fi_pak" Directory="dir_locales">
        <File Id="file_locales_fi_pak" Source="release\win-unpacked\locales\fi.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_fil_pak" Directory="dir_locales">
        <File Id="file_locales_fil_pak" Source="release\win-unpacked\locales\fil.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_fr_pak" Directory="dir_locales">
        <File Id="file_locales_fr_pak" Source="release\win-unpacked\locales\fr.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_gu_pak" Directory="dir_locales">
        <File Id="file_locales_gu_pak" Source="release\win-unpacked\locales\gu.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_he_pak" Directory="dir_locales">
        <File Id="file_locales_he_pak" Source="release\win-unpacked\locales\he.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_hi_pak" Directory="dir_locales">
        <File Id="file_locales_hi_pak" Source="release\win-unpacked\locales\hi.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_hr_pak" Directory="dir_locales">
        <File Id="file_locales_hr_pak" Source="release\win-unpacked\locales\hr.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_hu_pak" Directory="dir_locales">
        <File Id="file_locales_hu_pak" Source="release\win-unpacked\locales\hu.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_id_pak" Directory="dir_locales">
        <File Id="file_locales_id_pak" Source="release\win-unpacked\locales\id.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_it_pak" Directory="dir_locales">
        <File Id="file_locales_it_pak" Source="release\win-unpacked\locales\it.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_ja_pak" Directory="dir_locales">
        <File Id="file_locales_ja_pak" Source="release\win-unpacked\locales\ja.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_kn_pak" Directory="dir_locales">
        <File Id="file_locales_kn_pak" Source="release\win-unpacked\locales\kn.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_ko_pak" Directory="dir_locales">
        <File Id="file_locales_ko_pak" Source="release\win-unpacked\locales\ko.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_lt_pak" Directory="dir_locales">
        <File Id="file_locales_lt_pak" Source="release\win-unpacked\locales\lt.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_lv_pak" Directory="dir_locales">
        <File Id="file_locales_lv_pak" Source="release\win-unpacked\locales\lv.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_ml_pak" Directory="dir_locales">
        <File Id="file_locales_ml_pak" Source="release\win-unpacked\locales\ml.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_mr_pak" Directory="dir_locales">
        <File Id="file_locales_mr_pak" Source="release\win-unpacked\locales\mr.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_ms_pak" Directory="dir_locales">
        <File Id="file_locales_ms_pak" Source="release\win-unpacked\locales\ms.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_nb_pak" Directory="dir_locales">
        <File Id="file_locales_nb_pak" Source="release\win-unpacked\locales\nb.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_nl_pak" Directory="dir_locales">
        <File Id="file_locales_nl_pak" Source="release\win-unpacked\locales\nl.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_pl_pak" Directory="dir_locales">
        <File Id="file_locales_pl_pak" Source="release\win-unpacked\locales\pl.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_pt_BR_pak" Directory="dir_locales">
        <File Id="file_locales_pt_BR_pak" Source="release\win-unpacked\locales\pt-BR.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_pt_PT_pak" Directory="dir_locales">
        <File Id="file_locales_pt_PT_pak" Source="release\win-unpacked\locales\pt-PT.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_ro_pak" Directory="dir_locales">
        <File Id="file_locales_ro_pak" Source="release\win-unpacked\locales\ro.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_ru_pak" Directory="dir_locales">
        <File Id="file_locales_ru_pak" Source="release\win-unpacked\locales\ru.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_sk_pak" Directory="dir_locales">
        <File Id="file_locales_sk_pak" Source="release\win-unpacked\locales\sk.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_sl_pak" Directory="dir_locales">
        <File Id="file_locales_sl_pak" Source="release\win-unpacked\locales\sl.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_sr_pak" Directory="dir_locales">
        <File Id="file_locales_sr_pak" Source="release\win-unpacked\locales\sr.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_sv_pak" Directory="dir_locales">
        <File Id="file_locales_sv_pak" Source="release\win-unpacked\locales\sv.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_sw_pak" Directory="dir_locales">
        <File Id="file_locales_sw_pak" Source="release\win-unpacked\locales\sw.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_ta_pak" Directory="dir_locales">
        <File Id="file_locales_ta_pak" Source="release\win-unpacked\locales\ta.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_te_pak" Directory="dir_locales">
        <File Id="file_locales_te_pak" Source="release\win-unpacked\locales\te.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_th_pak" Directory="dir_locales">
        <File Id="file_locales_th_pak" Source="release\win-unpacked\locales\th.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_tr_pak" Directory="dir_locales">
        <File Id="file_locales_tr_pak" Source="release\win-unpacked\locales\tr.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_uk_pak" Directory="dir_locales">
        <File Id="file_locales_uk_pak" Source="release\win-unpacked\locales\uk.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_ur_pak" Directory="dir_locales">
        <File Id="file_locales_ur_pak" Source="release\win-unpacked\locales\ur.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_vi_pak" Directory="dir_locales">
        <File Id="file_locales_vi_pak" Source="release\win-unpacked\locales\vi.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_zh_CN_pak" Directory="dir_locales">
        <File Id="file_locales_zh_CN_pak" Source="release\win-unpacked\locales\zh-CN.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_locales_zh_TW_pak" Directory="dir_locales">
        <File Id="file_locales_zh_TW_pak" Source="release\win-unpacked\locales\zh-TW.pak" KeyPath="yes" />
      </Component>
      <Component Id="cmp_resources_app_asar" Directory="dir_resources">
        <File Id="file_resources_app_asar" Source="release\win-unpacked\resources\app.asar" KeyPath="yes" />
      </Component>
      <Component Id="cmp_resources_app_asar_unpacked_node_modules__tailwind_d3cccdd4" Directory="dir_resources_app_asar_unpacked_node_modules__tailwind_b25dde41">
        <File Id="file_resources_app_asar_unpacked_node_modules__tailwind_d3cccdd4" Source="release\win-unpacked\resources\app.asar.unpacked\node_modules\@tailwindcss\oxide-win32-x64-msvc\LICENSE" KeyPath="yes" />
      </Component>
      <Component Id="cmp_resources_app_asar_unpacked_node_modules__tailwind_f666646a" Directory="dir_resources_app_asar_unpacked_node_modules__tailwind_b25dde41">
        <File Id="file_resources_app_asar_unpacked_node_modules__tailwind_f666646a" Source="release\win-unpacked\resources\app.asar.unpacked\node_modules\@tailwindcss\oxide-win32-x64-msvc\package.json" KeyPath="yes" />
      </Component>
      <Component Id="cmp_resources_app_asar_unpacked_node_modules__tailwind_84934f5a" Directory="dir_resources_app_asar_unpacked_node_modules__tailwind_b25dde41">
        <File Id="file_resources_app_asar_unpacked_node_modules__tailwind_84934f5a" Source="release\win-unpacked\resources\app.asar.unpacked\node_modules\@tailwindcss\oxide-win32-x64-msvc\tailwindcss-oxide.win32-x64-msvc.node" KeyPath="yes" />
      </Component>
      <Component Id="cmp_resources_app_asar_unpacked_node_modules_lightning_e05ec868" Directory="dir_resources_app_asar_unpacked_node_modules_lightning_28c336dc">
        <File Id="file_resources_app_asar_unpacked_node_modules_lightning_e05ec868" Source="release\win-unpacked\resources\app.asar.unpacked\node_modules\lightningcss-win32-x64-msvc\LICENSE" KeyPath="yes" />
      </Component>
      <Component Id="cmp_resources_app_asar_unpacked_node_modules_lightning_da33d657" Directory="dir_resources_app_asar_unpacked_node_modules_lightning_28c336dc">
        <File Id="file_resources_app_asar_unpacked_node_modules_lightning_da33d657" Source="release\win-unpacked\resources\app.asar.unpacked\node_modules\lightningcss-win32-x64-msvc\lightningcss.win32-x64-msvc.node" KeyPath="yes" />
      </Component>
      <Component Id="cmp_resources_app_asar_unpacked_node_modules_lightning_fb54924b" Directory="dir_resources_app_asar_unpacked_node_modules_lightning_28c336dc">
        <File Id="file_resources_app_asar_unpacked_node_modules_lightning_fb54924b" Source="release\win-unpacked\resources\app.asar.unpacked\node_modules\lightningcss-win32-x64-msvc\package.json" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
